# Fichiers de configuration de l'IDE
/.idea/
/.vscode/

# Dossiers générés par Composer
/vendor/

# Fichiers de logs
*.log

# Fichiers de cache
/cache/

# Fichiers de configuration locaux
.env

# Dossiers temporaires et de compilations
/.phpunit.result.cache
/.composer/

# Fichiers d'exécution
phpunit.xml
phpunit.xml.dist

# Dossiers générés par la production
/public/assets/
/public/build/

# Dossiers de tests (si non nécessaires)
/tests/

# Dossiers de sauvegarde
*~
*.bak
*.swp

# Fichiers de base de données locaux
/database/*.sqlite
/database/*.db

# Dossiers d'images ou de fichiers temporaires générés lors de l'exécution
/tmp/
/upload/
